
.navbar {
  overflow: hidden;
  background-color: rgb(242, 77, 7,0.8);
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 32px;
}

a {
  padding: 8px;
  color: white;
}

body{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0;
    color: white;
    font-size: 16pt;
    font-family: "Trebuchet MS", sans-serif;
    background-color: rgba(0,0,0, 0.8);
}

.center {
  text-align: center;
}

iframe{
        width:560px;
        height:315px;
        border: 10px solid #fff;
        margin: 40px;}
